<h1>All Orders</h1>

<table>
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Name</th>
    <th>Total Price</th>
    <th>Created At</th>
    <th>Updated At</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <% if order.canceled_order.present? %>
      <tr style="text-decoration: line-through">
    <% else %>
      <tr>
    <% end %>
      <td><%= order.id %></td>
      <td><%= link_to order.name, order_path(order) %></td>
      <td><%= order.total_price %></td>
      <td><%= order.created_at %></td>
      <td><%= order.updated_at %></td>
      <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <% if order.canceled_order.present? %>
      <td><%= button_to 'Cancel', cancel_order_path(order), disabled: true, method: :post, remote: true, class: 'btn btn-secondary btn-sm' %></td>
    <% else %>
      <td><%= button_to 'Cancel', cancel_order_path(order), method: :post, remote: true, class: 'btn btn-outline-secondary btn-sm' %></td>
    <% end %>
      <td><%= button_to 'Delete', order, method: :delete, class: 'btn btn-outline-danger btn-sm' %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Create new order', new_order_path %>
