<h1>Создать новый заказ</h1>

<%= form_with(model: @order, url: orders_path) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибка при создании заказа:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shopify_id %>
    <%= form.number_field :shopify_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.number_field :total_price %>
  </div>

  <div class="field">
    <%= form.label :fulfillment_status %>
    <%= form.text_field :fulfillment_status %>
  </div>

  <!-- Добавьте другие поля, если необходимо -->

  <div class="actions">
    <%= form.submit "Создать" %>
  </div>
<% end %>

<%= link_to 'Назад', orders_path %>
<h1>Создать новый заказ</h1>

<%= form_with(model: @order, url: orders_path) do |form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибка при создании заказа:</h2>
      <ul>
        <% @order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shopify_id %>
    <%= form.number_field :shopify_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :total_price %>
    <%= form.number_field :total_price %>
  </div>

  <div class="actions">
    <%= form.submit "Создать" %>
  </div>
<% end %>

<%= link_to 'Назад', orders_path %>
